<!--main page chart layer2-->
<div class="chart-layer-2">

    <div class="col-md-6 chart-layer2-right">
        <div class="prograc-blocks">
            <!--Progress bars-->
            <div class="home-progres-main">
                <h3>Total Sales</h3>
            </div>
            <div class='bar_group'>
                <div class='bar_group__bar thin' label='Rating' show_values='true' tooltip='true' value='343'></div>
                <div class='bar_group__bar thin' label='Quality' show_values='true' tooltip='true' value='235'></div>
                <div class='bar_group__bar thin' label='Amount' show_values='true' tooltip='true' value='550'></div>
                <div class='bar_group__bar thin' label='Farming' show_values='true' tooltip='true' value='456'></div>
            </div>
            <script src="~/admin/js/bars.js"></script>

            <!--//Progress bars-->
        </div>
    </div>
    <div class="col-md-6 chart-layer2-left">
        <div class="content-main revenue">
            <h3>Total Revenue</h3>
            <canvas id="radar" height="300" width="300" style="width: 300px; height: 300px;"></canvas>
            <script>
                var radarChartData = {
                    labels: ["", "", "", "", "", "", ""],
                    datasets: [
                        {
                            fillColor: "rgba(104, 174, 0, 0.83)",
                            strokeColor: "#68ae00",
                            pointColor: "#68ae00",
                            pointStrokeColor: "#fff",
                            data: [65, 59, 90, 81, 56, 55, 40]
                        },
                        {
                            fillColor: "rgba(236, 133, 38, 0.82)",
                            strokeColor: "#ec8526",
                            pointColor: "#ec8526",
                            pointStrokeColor: "#fff",
                            data: [28, 48, 40, 19, 96, 27, 100]
                        }
                    ]

                };
                new Chart(document.getElementById("radar").getContext("2d")).Radar(radarChartData);
            </script>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
